# Resend API Key for newsletter
# Create an account at https://resend.com
RESEND_API_KEY=

# Google Client ID for OAuth
# Get your Client ID at https://console.cloud.google.com
VITE_GOOGLE_CLIENT_ID=

# PayPal Client ID for payments
# Get your Client ID at https://developer.paypal.com
VITE_PAYPAL_CLIENT_ID=
